<div class="pr-5 bg-slate-200 max-md:pr-5">
  <div class="flex gap-5 max-md:flex-col max-md:gap-0">
    <aside class="flex flex-col w-[27%] max-md:ml-0 max-md:w-full">
      <nav class="flex flex-col grow items-start py-20 pr-20 pl-6 mx-auto w-full text-xl font-semibold text-white bg-slate-700 max-md:px-5 max-md:mt-10">
        <div class="self-center text-4xl font-extrabold">SIBACA</div>
        <div class="flex gap-5 mt-11 whitespace-nowrap max-md:mt-10">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/b60de2b05833aae014f700c15004065d740f7d013e04abe31fc4ffff3485b48b?" class="shrink-0 aspect-[1.03] w-[30px]" />
          <div class="flex-auto my-auto"><a href="dashboardMhs">Dashboard</a></div>
        </div>
        <div class="flex gap-5 mt-9">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/e365d1cf19fd1044d2daa4f94170b7f2820a62d9c007c82d8d8a3d92dc531247?" class="shrink-0 aspect-[0.86] w-[25px]" />
          <div class="flex-auto my-auto"><a href="LihatBuku">Lihat Buku</a></div>
        </div>
        <div class="flex gap-5 mt-8">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/7089de8e39479018adcd656b47318a42920e119966f6c5dd3b5cc790b623c66e?" class="shrink-0 aspect-[0.86] w-[25px]" />
          <div class="flex-auto"><a href="PinjamBuku">Pinjam Buku</a></div>
        </div>
        <div class="flex gap-5 mt-8">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/10ca86c0fa9f5c4743f2eac8520827b728b57241d504744cbd15b00d130920c4?" class="shrink-0 aspect-[0.86] w-[25px]" />
          <div class="flex-auto"><a href="KembalikanBuku">Kembalikan buku</a></div>
        </div>
        <div class="flex gap-4 mt-7 whitespace-nowrap">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c48306110fc090c44783725041e9a4a01f51f1f38c250b2ad64a43c1789ebd38?" class="shrink-0 aspect-square w-[29px]" />
          <div class="flex-auto my-auto"><a href="ProfileMhs">Profile</a></div>
        </div>
        <div class="flex gap-4 mt-8">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/87b551cf3aa5a343fcfd98828ff6a3e81da468dc042b833246ce10edcd57e44f?" class="shrink-0 aspect-square w-[33px]" />
          <div class="flex-auto my-auto"><a href="RiwayatPeminjaman">Riwayat peminjaman</a></div>
        </div>
        <div class="flex gap-5 mt-9">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3a33e1545f0e1600b4a06c1ea80cb88c0790aa555d25c184928c8945a1779dba?" class="shrink-0 aspect-[1.14] w-[33px]" />
          <div class="flex-auto my-auto"><a href="/logout">Log Out
            </a></div>
        </div>
      </nav>
    </aside>
    <main class="flex flex-col ml-5 w-[73%] max-md:ml-0 max-md:w-full">
      <section class="flex flex-col mt-5 max-md:mt-10 max-md:max-w-full">
        <header class="justify-center self-start px-5 py-6 text-4xl font-extrabold rounded-md shadow-sm bg-slate-400 bg-opacity-20 text-slate-700 max-md:pr-5 max-md:max-w-full">
          Riwayat Peminjaman
        </header>
        <article class="flex flex-col px-7 pt-12 pb-8 mt-7 text-black rounded-xl bg-slate-500 max-md:pl-5 max-md:max-w-full">
            <form method="POST" action="/RiwayatPinjam" class="flex flex-col px-10 pt-5 pb-8 mt-7 rounded-3xl bg-slate-500 max-md:px-5 max-md:max-w-full">
              <label for="judulBuku" class="self-start mt-6 ml-6 text-xl font-semibold text-white max-md:ml-2.5">email</label>
              <input type="text" id="judulBuku" class="shrink-0 mt-2 rounded-3xl bg-zinc-300 h-[50px] w-full" name="email" placeholder=" Masukkan email" />
              <button class="justify-center self-end px-14 py-3 mt-4 max-w-full text-lg font-medium text-center text-white rounded-2xl bg-slate-700 w-[230px] max-md:px-5 hover:bg-slate-900" tabindex="0">Cek Riwayat</button>
              <table class="w-full bg-white shadow-md rounded mt-5">
                <thead class="bg-[#9DB2BF]">
                    <tr>
                        <th class="py-2 px-4">Kode Peminjaman</th>
                        <th class="py-2 px-4">Kode Buku</th>
                        <th class="py-2 px-4">Judul Buku</th>
                        <th class="py-2 px-4">Tanggal Peminjaman</th>
                        <th class="py-2 px-4">Durasi (hari)</th>
                        <th class="py-2 px-4">Tanggal Jatuh Tempo</th>
                        <th class="py-2 px-4">Denda</th>
                    </tr>
                </thead>
                <tbody id="loan-list">
                  {{#each peminjamanRecords}}
                    {{#each Detail_Peminjaman}}
                    <tr>
                      <td class="py-2 px-4">{{this.Id_Peminjaman}}</td>
                      <td class="py-2 px-4">{{this.Kode_Buku}}</td>
                      <td class="py-2 px-4">{{this.Buku.Judul_Buku}}</td>
                      <td class="py-2 px-4">{{this.Tanggal_Peminjaman}}</td>
                      <td class="py-2 px-4">{{this.Durasi_Peminjaman}}</td>
                      <td class="py-2 px-4">{{this.Tanggal_Jatuh_Tempo}}</td>
                      <td class="py-2 px-4">{{this.Denda}}</td>
                    </tr>
                    {{/each}}
                  {{/each}}
                </tbody>
              </table>
            </form>
        </article>
    </main>
  </div>
</div>